<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Moderation Required</title>
</head>

<body>
  <h1>Moderation Required</h1>
  <p>A ticket requires manual moderation:</p>
  <p>Moderation ID: {{ moderationId }}</p>
  <p>Ticket ID: {{ ticketId }}</p>
  <p>Ticket title: {{ title }}</p>
  <p>Reason: {{ reason }}</p>
  {{!-- <a href="{{ approveLink }}">Approve</a>
  <a href="{{ rejectLink }}">Reject</a> --}}
</body>

</html>
